streamlit
transformers
sentence-transformers
faiss-cpu
pymupdf
pytesseract
Pillow
torch
accelerate
langchain
langchain-community
langchain-text-splitters
huggingface-hub
python-dotenv
pymupdf4llm
keybert
nltk
numpy
requests